body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #f1f5f9;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    padding: 45px;
    border-radius: 20px;
    text-align: center;
    width: 380px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: 2px;
}

button {
    font-size: 30px;
    margin: 12px;
    padding: 18px 22px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #1e293b;
    color: white;
    transition: 0.2s ease;
}

button:hover {
    background: #3b82f6;
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
}

/* RESULTADO */
#result {
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
    min-height: 30px;
    padding: 10px;
    border-radius: 10px;
}

/* Estados */
.win {
    color: #22c55e;
}

.lose {
    color: #ef4444;
}

.draw {
    color: #facc15;
}

p {
    margin-top: 18px;
    font-size: 16px;
    opacity: 0.9;
}

span {
    font-weight: bold;
    color: #38bdf8;
    font-size: 18px;
}
